.docWrapper {
    position: absolute; /* or absolute, depending on your needs */
    width: 35%; /* Adjust this to your preference */
    height: 100%;

    left: 50%;
    @media (max-width: 350px) {
        width: 20%; 
    }

}

.docIframe {
    width: 100%; /* Make the iframe take the full width of its parent */
    height: 100%; /* Make the iframe take the full height of its parent */
    border: none; /* Remove the default iframe border */
}
